/* start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #19a1ad;
}
/* end global rules */
/* start the section */
.bkg-t {
    position: fixed;
    top: -500px;
    left: -250px;
}
.bkg-b {
    position: fixed;
    top: 360px;
    left: 730px;
}
.card {
    background-color: white;
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.7rem;
    overflow: hidden;
    box-shadow: 0 0 20px -10px black;
}
.face {
    border: 4px solid white;
    border-radius: 50%;
    position: relative;
    top: -55px;
    left: 120px;
}
@media (max-width: 560px) {
    .bkg-t {
        top: -490px;
        left: -770px;
    }
    .bkg-b {
        top: 330px;
        left: 200px;
    }
    .card {
        width: 260px;
    }
    .face {
        left: 78px;
    }
}
.under {
    text-align: center;
}
.name {
    margin-top: -50px;
    padding: 10px 0 20px;
}
.name p:first-of-type {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.8;
}
.name span {
    color: #777;
}
.name p:last-of-type {
    color: #777;
}
.dtls {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.dtls div p:first-of-type {
    font-size: 20px;
    font-weight: 500;
}
.dtls div p:last-of-type {
    font-size: 12px;
    color: #777;
}
/* end the section */